/* WARNING:  */
.about-me-wrapper {
  background-color: rgb(241, 244, 130);
  heigth: 100%;
  min-height: 100%;
}

.about-me-grid {
  display: grid;
  background: #eee;
  grid-template-columns: 3fr 2fr;
  grid-auto-rows: minmax(100px, auto);
  height: 500px;
}
