.contact-wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 0.5em;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.contact-wrapper > div {
  background: #eee;
}
