/* Universal stylesheet */
/* apply these class to change the theme */

.theme-colour {
  background: rgb(241, 244, 130);
  color: black;
}

.section-header {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 3.5em;
  padding: 0.5em;
  margin: 0;
}

.button-theme {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  margin-left: auto;
  height: 2em;
  width: 50%;
}
